
<<<<<<< HEAD

#maindiv {
    background-color: grey;
    width: 400px;
    height: 400px;
    /* text-align:justify; */
    background-color: rgb(207, 240, 251);
    margin: 20px auto;
    border: 6px solid #333;
    /* display: flexbox; */
   
}

.div1 {
    background-color: red;
    /* margin: 0px;
    padding: 0px; */
    width: 200px;
    height: 200px;
    
}

.div2 {
    background-color: blue;
    /* margin: 0px 0px 200px 200px; */
    /* padding: 0px; */
    margin-left: 200px;
    width: 200px;
    height: 200px;
    

}
=======
>>>>>>> dca06f04daadba995ea5266ba50872b4b83feec5
