body > div {
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    border: 6pt solid #333;
    margin: 20px auto;
}

div:first-child > div:last-child {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 200px;
}

div > div {
    width: 200px;
    height: 200px;
    background-color: red;
}
